
<h1>Upload de Arquivos</h1>
<div class="alert alert-danger" *ngIf="erroUpload" role="alert">
  Erro fazendo upload.
</div>
<div class="alert alert-warning" *ngIf="formInvalido" role="alert">
  Selecione um arquivo.
</div>
<form>

  <div class="mb-3">
    <input class="form-control" type="file" id="formFile" (change)="armazenarArquivo($event)" accept="image/*,application/pdf" multiple>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary" (click)="enviarArquivo($event)">Enviar Arquivo</button>
  </div>
</form>
<ul *ngIf="urlsUpload.length > 0">
  <li *ngFor="let url of urlsUpload">
    <a [href]="url" target="_blank">{{url}}</a>
  </li>
</ul>